/* Coolors Exported Palette - coolors.co/545f66-829399-d0f4ea-e8fcc2-b1cc74 */
/* RGB */
body {
  font-family: "Sen", sans-serif;
  background: #242424;
}

#tekenbord {
  /*height: 50vw;*/
  max-height: 40em;
}

header, .contact {
  font-family: "Sen", sans-serif;
  color: #484759;
  width: 100vw;
  height: fit-content;
  margin-top: 3em;
}
header h1, .contact h1 {
  color: white;
  text-align: center;
  font-size: 3em;
}

h1,span {
  color: #8C877E;
}

footer {
  color: #616161;
  margin-left: 1em;
}

.chart {
  margin: auto;
}

.info {
  font-family: "Sen", sans-serif;
  color: #484759;
}

.contact {
  color: #484759;
}
.contact h1 {
  font-size: 1em;
}

form {
  padding: 10px;
}

#cameraview {
  border-radius: 5px;
  background-color: #484759;
}

.message {
  background: #484759;
  border-radius: 2px;
  color: white;
  padding: 5px;
}

.hover{
  stroke: white;
}

.out{
  stroke: grey;
}

ul {
      padding-inline-start: 0px;
}

li {
  display: grid;
  grid-template-areas: 
    "tekst tekst"
    "getal kleur";
  grid-template-columns: 50% 50%;
  border: none;
  background: #8C877E;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  color: #000000;
  list-style: none;
  border-radius: 8px;
  margin-top: 8px;
}

.tekstveldje{
  grid-area: tekst;
  font-size: 2em;
  padding: 0;
  padding-left: 0.5em;
  border-width: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 2em;
}

.getalinput{
  grid-area: getal;
  border-style: solid;
  border-color: #000000;
  font-size: 2em;
  padding: 0;
  padding-left: 0.5em;
  border-width: 1px;
  font-size: 2em;
  border-bottom-left-radius: 4px;
}

  .kleurinput{
    grid-area: kleur;
    padding: 0px;
    border: none;
    inline-size: 50%;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 4px;
  }

.leadertext{
  fill: grey;
  font-size: large;
}

.leadertexthover{
  fill: white;
  font-size: large;
}

input{
  width: -webkit-fill-available;
  height: 2em;
}

.slider {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #hoekwaarde {
    color: white;
    margin-left: 2%;
  }

  #tekenbord {
    width: 100%;
    height: 100%;
  }

@media screen and (orientation:landscape) {
  #laagjes {
    display: inline-block;
    width: 49vw;
    margin-right: 1vw;
  }

  #isoMetricCube {
    display: inline-block;
    width: 50vw;
  }

  #content {
  margin: 0px;
  display: flex;
  width: 100vw;
  }
}

@media screen and (orientation:portrait) {
  #isoMetricCube {
    display: inline-block;
    width: 100vw;
  }

  #laagjes {
    display: inline-block;
    width: 96vw;
    margin: 2vw;
  }
}

@media screen and (max-height: 1080px) {

.knopje {
  font-size: 1em;
  width: 2em;
  height: 2em;
}

.knop {
  font-size: 1em;
  height: 2em;
}

.getalinput {
  font-size: 1em;
}

.tekstveldje {
  font-size: 1em;
}

}

@media screen and (min-height: 1080px) {

.knopje {
  font-size: 2em;
  width: 2em;
  height: 2em;
}

.knop {
  font-size: 2em;
  height: 2em;
}

}

button {
  padding: 5px;
  border-style: solid;
  border-width: initial;
  border-color: #444444;
  border-radius: 5px;
  background: #8C877E;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  color: #000000;
}

button:hover,li:hover {
  border-style: solid;
  border-width: initial;
  background: #9695A6;
  color: white;
  border-color: #8C877E;
}