/* Coolors Exported Palette - coolors.co/545f66-829399-d0f4ea-e8fcc2-b1cc74 */
/* RGB */
body {
  font-family: "Sen", sans-serif;
  background: #242424;
}

#tekenbord {
  height: 50vw;
  max-height: 40em;
}

header, .contact {
  font-family: "Sen", sans-serif;
  color: #484759;
  width: 90vw;
  height: 10vh;
  margin: 5vw;
}
header h1, .contact h1 {
  color: white;
  text-align: center;
  font-size: 4em;
}

h1 {
  color: #8C877E;
}

footer {
  color: #616161;
  margin-left: 1em;
}

.chart {
  margin: auto;
}

.info {
  font-family: "Sen", sans-serif;
  color: #484759;
}

.contact {
  color: #484759;
}
.contact h1 {
  font-size: 1em;
}

form {
  padding: 10px;
}

#cameraview {
  border-radius: 5px;
  background-color: #484759;
}

.message {
  background: #484759;
  border-radius: 2px;
  color: white;
  padding: 5px;
}

.hover{
  stroke: white;
}

.out{
  stroke: grey;
}

.tekstveldje{
  width: flex;
  font-size: 2em;
  padding: 0;
  border-radius: 5px;
}

.getalinput{
  font-size: 2em;
  padding: 0;
  border-radius: 5px;
}

.leadertext{
  fill: grey;
  font-size: large;
}

.leadertexthover{
  fill: white;
  font-size: large;
}

input{
  width: -webkit-fill-available;
  height: 2em;
}

@media screen and (orientation:landscape) {
  #laagjes {
    display: inline-block;
    width: 49vw;
  }

  #tekenbord {
    width: 50vw;
  }

  #isoMetricCube {
    display: inline-block;
    width: 50vw;
  }

  #content {
  margin: auto;
  display: flex;
  }

  .kleurinput{
    width:24vw;
  }

  .getalinput{
   width: 24vw;
  }
}



@media screen and (orientation:portrait) {
  #laagjes {
    display: inline-block;
    width: 98vw;
  }

  #tekenbord {
    width: 100vw;
  }

  #isoMetricCube {
    display: inline-block;
  }

  .kleurinput{
    width: 49vw;
  }

  .getalinput{
   width: 48vw;
  }
}

@media screen and (max-height: 1080px) {

.knopje {
  font-size: 1em;
  width: 2em;
  height: 2em;
}

.getalinput {
  font-size: 1em;
}

.tekstveldje {
  font-size: 1em;
}

}

@media screen and (min-height: 1080px) {

.knopje {
  font-size: 2em;
  width: 2em;
  height: 2em;
}

.getalinput {
  font-size: 2em;
}

.tekstveldje {
  font-size: 2em;
}

}

li {
  padding: 0px;
  border-style: solid;
  border-width: initial;
  border-color: #444444;
  border-radius: 5px;
  background: #8C877E;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  color: #000000;
  list-style: none;
}



ul {
      padding-inline-start: 0px;
}

button {
  padding: 5px;
  border-style: solid;
  border-width: initial;
  border-color: #444444;
  border-radius: 5px;
  background: #8C877E;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  color: #000000;
}

button:hover,li:hover {
  border-style: solid;
  border-width: initial;
  background: #9695A6;
  color: white;
  border-color: #8C877E;
}